  *{
	  font-family:微軟正黑體;
	} 
	

	p{
		font-size: 13px;

	}

	h5{
		font-family:微軟正黑體;
		color: #939496;
	}

	#Interest_number{
		font-size: 30px;
	}

	#balance_info{
		color: red;
	}

	.distant{
		margin: 10px;
		margin-top:100px; 
		border: 0px;				
	}

	
	.info{		
		font-size: 12px;	
		color: #7c7a7a;
		margin-left: 5px;
		margin-right: 5px;
	}
	

	.distant_01{
		margin: 10px;
		margin-top:100px; 		
	}

	.ETH-LOGO{
		width: 100px;
		height:100px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.25);	
		border-radius:50% ;
		background-image: url(https://upload.cc/i1/2019/12/09/yruAaP.png); 
		overflow: cover;
		margin: 30px;
		transition: 0.5s

	}

	.ETH-LOGO:hover{		
		box-shadow: 0px 0px 30px rgba(98, 126, 234,300);	
	}

	.column{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.card_style_01{
		width: 18rem; 
		padding: 15px; 
		background: #e5e5e5; 
		border: solid 0px; 
		margin:0 auto;	
		margin-top:30px; 
		margin-bottom:30px; 
		font-family:微軟正黑體;
	}

	.card_p{		
		color: #747579;
		font-weight:bold;
		font-size: 30px;

	}

	.user_info{	
		border-radius: 5px;	
		background-color: #f9f9f9;
		padding: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
		box-shadow: 3px 3px 3px rgba(0%,0%,0%,0.10);

	}

	.subtitle{
		font-family:微軟正黑體;
		font-size: 15px;

	}

	.table_distant{
		margin-top: 30px;
		margin-bottom: 30px;
		color: #747579;
		font-family:微軟正黑體;

	}	

	.ETH_price{
		color: #747579;
		font-family:微軟正黑體;
		font-size: 13px;
	}

	.alert_info{
		box-shadow: 3px 3px 3px rgba(0%,0%,0%,0.10);
		border: solid 0px;
	}


	.foot_font{
		font-size: 10px;
		color: #e5e5e5;		
	}
	

	.foot_time{
		margin-left:10px;
		margin-right:10px; 
	}
	
	.revert{
		margin-left: 15px;
		margin: 10px;
		color: #975057;
	}

	.btn_dis{
		margin-top: 10px;
		margin:10px
		padding:12px;
		font-size: 8px;		
	}

	.guide{				
		border-radius: 5px;
		background-color: #cce5ff;
		color: #5f8dbe;
		margin: 15px;
		padding: 20px;

	}

	.connect{
		width: 10px;
		height: 10px;
		border-radius: 50%; 
		background-color: #f45555;
		margin-right: 5px;
		margin-left: 20px; 					 
	}

	.connect_P{
		font-size: 12px;	
		color: #7c7a7a;
	}

	.quite_info{
		border-radius: 5px;
		background-color: #f8d7da;
		padding: 10px;		
		margin-right:5px;
		margin-left:5px;
		box-shadow: 3px 3px 3px rgba(0%,0%,0%,0.10);

	}

	.sible {
  		visibility: hidden;
	}




@media (max-width: 320px) {

	.info{
		width: 100px;
		overflow: auto;	
	}

}	


@media (max-width: 375px) {

	.info{
		width: 230px;
		overflow: auto;	
	}

	.table_distant{
		margin-top: 10px;
		margin-bottom: 10px;
		color: #747579;
		font-family:微軟正黑體;
		font-size: 12px;

	}

	.revert{
		font-size: 9px;
	} 

 }


@media (max-width: 575px) {

	.quite_info{
		border-radius: 5px;
		padding-top: 20px;		
	}

}


	


	
	
 
