  *{
	  font-family:微軟正黑體;
	 /* border: solid 1px ;	  */
	} 

	a{
		color: #8b8c8e;	
		text-decoration: none;
	}

	a:hover {
	color:#4499EE;
	text-decoration:none; /*CSS下划线效果：无下划线*/
	border-bottom: 1px #0099CC dotted /*CSS加一个只有下边的框 边框为虚线*/
	}
	

	p{
		font-size: 12px;
		color: #999999;
	}

	span{
		color: black;
	}

	h5{
		font-family:微軟正黑體;
		color: #939496;
	}

	.title_theme{
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.card_info{
		margin: 20px;
		background-color: #f8f9fa;
		border-radius: 8px;
		box-shadow: 3px 3px 3px rgba(0%,0%,0%,0.10);
		padding: 25px;
		padding-left: 0px; 

	}

	.card_info:hover{
		box-shadow: 3px 10px 10px rgba(0%,0%,0%,0.10);
		transform: translate(-5px,-5px);
		transition: 0.5s
	}

	.title_name{
		color: #999999;
		font-weight: bold;
		font-size: 20px;
	}

	.brief_description{
		color: #999999;
		font-weight: bold;
		font-size: 10px;
	}

	.straight_line{

		border-right:solid #d6d6d6 1px;
	}
	



	.foot_font{
		font-size: 10px;
		color: #e5e5e5;		
	}
	

	.foot_time{
		margin-left:10px;
		margin-right:10px; 
	}
	
	
	@media (max-width: 767px) {

		.straight_line{
		
			border-right:solid #d6d6d6 0px;
		}
	
	

	}



